body{
 background-color:whitesmoke;
}
ul {
 list-style-type: none;
 margin: 0;
 padding-left:10%;
 overflow: hidden;
 background-color: #333;
}
ul a:hover{
 background-color: rgb(226, 17, 17);
 color: white;
}
li {
 float: left;
 
}
li a {
 display: block;
 color: white;
 text-align: center;
 padding:15px 20px;
 text-decoration: none;
}
/*transitions*/
li a:hover {
background-color: #111;
}
